/* .hover {
  transition-duration: 5s;
}

.hover:hover span {
  border: 2px solid #43C3EA;

} */

.bg-primary {
  background-color: #152545;
}

.bg-hove-primary {
  background-color: #152545;
}

.text-primary {
  color: #152545;
}

.bg-secondary {
  background-color: #43C3EA;
}

.text-secondary {
  color: #3BAED4;
}

.bg-light {
  background-color: #F2F2F2;
}

.text-light {
  color: #999999;
}